name: Python Check Style
on:
  push:
    branches:
      - news

jobs:
  python-check-style:
    runs-on: ubuntu-latest

    steps:
      - name: Git clone repo
        uses: actions/checkout@v2

      - name: Set version python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.2'

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Python Check Style
        run: |
          pip install pycodestyle
          pycodestyle .
